html, body {
    height:100vh;
}

.container-fluid {
    height: 100%;
}

.main {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 6px 6px 10px 0px rgba(138,130,138,.5);
}

.home a {
  color:black;
}

.home a:hover, .home a:focus {
    text-decoration: none;
    cursor: pointer;
    color:#67dbe4;
}

/*COLORED BACKGROUND PAGE STYLING*/
.color-page {
    background: linear-gradient(to top right, #67dbe4, #c7ffe2);
}

.color-page p {
    color: white;
    margin-top: 1em;
}

.color-page p b:hover{
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-family: 'Raleway', sans-serif;    
}

.color-page h1.title {
    color: white;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.color-page h1.name {
    color: #D3D3D3;
}

.color-page .main {
    height: 65%;
}

/*END COLORED BACKGROUND PAGE STYLING*/
/*GREY BACKGROUND PAGE STYLING*/
.grey-page {
    height: auto;
    background: #E8E8EE;
}

.grey-page .main{
    /*sizing info here*/
    height: auto;
    margin-bottom: 1em;
}

.grey-page h1.title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.grey-page .top {
    height: auto;
}

#profile:hover, #profile:focus {
    cursor: pointer;
}

.rotate180 {
    transform: rotate(180deg);
    transition: transform 160ms;
}

.rotate45 {
  transform: rotate(45deg);
    transition: transform 160ms;
}

.grey-page h1 img {
    width: 1em;
    height: auto;
}

.in-progress, .complete {
    margin-top: 1em;
}

.in-progress p, .complete p {
    margin-top: .5em;
}

.in-progress .time {
    color:#67dbe4;
}

.complete .time {
    color: #ccc;
}
.challenge {
    margin: .5em;
    padding: 2em;
}

.challenge-title a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: black;
}

.challenge-title a:hover {
    text-decoration: none;
    color:#67dbe4;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.challenge img {
    border: 0;
    margin-bottom: 1em;
    border-radius: 4px;
}

.section {
  padding: 2em;

}

.section svg {
  display: block;
  margin: auto;
}

.section img {
  width:inherit;
  border-radius: 4px;
  margin: auto;
}

#bottom-button {
  position:fixed;
  height: 5em;
  bottom:0;
  right:0;
}

.list-accept {
  position: absolute;
  margin-top: 1em;
  height: 1em;
  bottom: 2em;
  right: 1em;
}

#bottom-button a , .list-accept a{
  color: #636363;
}

.ok-accepted {
   color: #67dbe4;
}

.ok-finished {
  color: #636363;
}

#bottom-button a:hover, .list-accept a:hover{
  color: #67dbe4;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(138,130,138,.5);
}

#bottom-button span.glyphicon {
  font-size: 3em;
}

.list-accept span.glyphicon {
  font-size: 2em;
}


/* END GREY BACKGROUND PAGE STYLING */
/* GREY BACKGROUND FORM STYLING */

.grey-page input[type=text], .grey-page .floating-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: black;
}

.grey-page .textarea {
  height: auto;
}

.grey-page textarea {
  width: auto;
  height: 3em;
  border: none;
  font-family: 'Roboto', sans-serif;
  background: transparent;
}

.grey-page input {
  width: 100%;
}

.grey-page .radio-btn {
  height: 2em;
}

.grey-page .radio-btn input {
  width: auto;
  display: none;
}

.grey-page .radio-btn input[type="radio"] + label {
  font-weight: normal;
  height: 2em;
}

.grey-page .radio-btn span {
  display: inline-block;
  width: 30%;
}

.grey-page .radio-btn input[type="radio"]:checked + label {
  color: #67dbe4;
}

.grey-page .floating-placeholder textarea label{
  width: auto;
  height: 2em;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.file-container {
  background: transparent;
  height: 2em;
  font-family: 'Roboto', sans-serif;
}

.file-container input#file-input {
    opacity: 0;
    height: 0;
}

.file-container:hover{
    color: #67dbe4;
}

.file-container:focus {
    outline: #67dbe4;
    color: #67dbe4;
}


/* END GREY BACKGROUND FORM STYLING */
/* FORM STYLING */

form{
  width: auto;
  margin: 6%;
  background:white;
}

.color-page input, .floating-placeholder{
  font-family:'Roboto', sans-serif;
  font-size:20pt;
  line-height:2.6em;
  height:2.6em;
  margin:0;
  padding:0;
  width:100%;
}
.floating-placeholder input{
  line-height:2.4em;
}
.floating-placeholder input:focus+label{
  color: #67dbe4;
}
.floating-placeholder input[value]+label{
  color:red;
}
.floating-placeholder{
  position:relative;
}

.floating-placeholder input{
  font-size:20pt;
  border:none;
  outline:none;
  position:absolute;
  top:0;
  left:0;
  display:block;
  background:transparent;
  z-index:2;
  border-bottom:1px solid #ccc;
}

.floating-placeholder:last-child input{
  border-bottom:none;
}

.floating-placeholder label{
  display:block;
  position:absolute;
  top:0;
  font-size:20pt;
  z-index:1;
  transform-origin:left;
  transition:transform 160ms, color 200ms;
  transform: scale(1,1) rotateY(0);
  color:#999;
}

.floating-placeholder input:valid~label{
  transform:scale(0.55,0.55) translateY(-1.6em);
}

.floating-placeholder input:valid{
  line-height:3.4em;
}

input[type=submit] {
    background: transparent;
    border: white;
}

input[type=submit]:hover{
    color: #67dbe4;
}

input[type=submit]:focus {
    outline: #67dbe4;
    color: #67dbe4;
}

#register-message, #login-message{
    color: #67dbe4;
    height: 1em;
}

/*END FORM STYLING*/
/*ANALYTICS AND D3 STYLING*/
#d3 {
  size:960px 600px;
}

.node {
  stroke: none;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ccc;
}
/*END ANALYTICS AND D3 STYLING*/
.logged-in {
    fill:linear-gradient(#fc7279 30%, #ff7b9c 60%, #ffc019 125%);
    stroke-width:0px;
}

.saving-forlater{
    /*Nice pink/orange gradient*/
    background: linear-gradient(#fc7279 30%, #ff7b9c 60%, #ffc019 125%);
    /*Error highlight color for pink/orange*/
    background-color: #FEEDED; 
    /*Nice green blue gradient*/
    background: linear-gradient(top left, #67dbe4, #c7ffe2);
    /*Box shadow for tasks*/
    box-shadow: 15px 15px 90px -15px rgba(138,130,138,1);
}