
.saving-forlater{
    /*Nice pink/orange gradient*/
    background: linear-gradient(#fc7279 30%, #ff7b9c 60%, #ffc019 125%);
    /*Error highlight color for pink/orange*/
    background-color: #FEEDED; 
    /*Nice green blue gradient*/
    background: linear-gradient(top left, #67dbe4, #c7ffe2);
    /*Box shadow for tasks*/
    box-shadow: 15px 15px 90px -15px rgba(138,130,138,1);
}

