<html>
<head>
  <title>{% block title %}{% endblock %} </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div>
    {% block content%}{% endblock %}
    <script type="text/javascript">
      function toggleAccept(){
        
      };

      $('.accept-btn').on('click', function(e) {
        e.preventDefault()
        $.post('/accept.json', {'challenge_id':$(this).attr('data-challenge_id')}, toggleAccept);
      });
    </script>
  </div>
</body>
</html>