{% extends 'base.html' %}

{% block title %}{{ challenge[0][0].title }}{% endblock %}

{% block content %}
<div class="container-fluid grey-page">
  <div class="row">
    <div class="col-xs-4 col-md-3 top">
      <h1 class="title home text-center">SCAVENGERHUNT</h1>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-6 top">
      {% if session.get('active') %}
      <h1 class="title text-center text-uppercase" id="profile">{{ username }} <img id="caret" src="/static/images/_caret.png"></h1>
      <h1><a href='/logout' class="text-center hidden" id="logout">LOG OUT</a></h1>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 top">
      <h1 class="title text-center">Challenge Analytics</h1>
    </div>
  </div>


  <div class="col-xs-10 col-xs-offset-1 main" id="d3">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 section">
        <h1 class="title">{{ challenge[0][0].title }}</h1>
        <p class="description">{{ challenge[0][0].description }}</p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 section">
        <h1 class="text-center title">Popularity</h1>
        <canvas id="chartjs-completed" class="chartjs" width="100" height="100" style="display: block; width: 100px; height: 100px;"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 section">
        <h1 class="title">Challenge Relationships</h1>
        <p class="description">Explore the relationships between challenges. Each node represents an individual challenge and the lines represent the relationships between them.</p>
        <svg width="300" height="300"></svg>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 section">
        <h1>Participants: <span class="num-players" data-challenge_id="{{ challenge[0][0].id }}"></span></h1>
      </div>
    </div>
  </div>
</div>


</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
    var challenge_id = {{ challenge[0][0].id }};

    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    var color = d3.rgb(103,219,228);

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().distance(10).strength(0.5))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

    d3.json('/challenge_analytics.json', function(error, graph) {
      if (error) throw error;

      var nodes = graph.nodes,
          nodeById = d3.map(nodes, function(d) { return d.id; }),
          links = graph.links,
          bilinks = [];

      links.forEach(function(link) {
        var s = link.source = nodeById.get(link.source),
            t = link.target = nodeById.get(link.target),
            i = {}; // intermediate node
        nodes.push(i);
        links.push({source: s, target: i}, {source: i, target: t});
        bilinks.push([s, i, t]);
      });

      var link = svg.selectAll(".link")
        .data(bilinks)
        .enter().append("path")
          .attr("class", "link");

      var node = svg.selectAll(".node")
        .data(nodes.filter(function(d) { return d.id; }))
        .enter().append("circle")
          .attr("class", "node")
          .attr("r", 5)
          .attr("fill", function(d) { return color; })
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

      node.append("title")
          .text(function(d) { return d.id; });
      link.append("title")
          .text(function(d) { return d.value; });

      simulation
          .nodes(nodes)
          .on("tick", ticked);

      simulation.force("link")
          .links(links);

      function ticked() {
        link.attr("d", positionLink);
        node.attr("transform", positionNode);
      }
    });

    function positionLink(d) {
      return "M" + d[0].x + "," + d[0].y
           + "S" + d[1].x + "," + d[1].y
           + " " + d[2].x + "," + d[2].y;
    }

    function positionNode(d) {
      return "translate(" + d.x + "," + d.y + ")";
    }

    function dragstarted(d) {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d.fx = d.x, d.fy = d.y;
    }

    function dragged(d) {
      d.fx = d3.event.x, d.fy = d3.event.y;
    }

    function dragended(d) {
      if (!d3.event.active) simulation.alphaTarget(0);
      d.fx = null, d.fy = null;
    }
</script>

<!-- ####################################################################### -->
{% if session.get('active') %}
<a href="/logout">Log Out</a>
<a href="/profile/id/{{ session.get('user_id')}}">Profile</a>
{% else %}
<a href="/login">Log In</a>
{% endif %}
<h1>{{ challenge[0][0].title }}</h1>
  {% if session.get('active') %}
    <a data-challenge_id="{{ challenge[0][0].id }}" data-user_challenge_id="" class="accept-btn">Accept</a>
  {% endif %}
<a href='/challenges'>Find a Challenge</a>
<a href='/create'>Create a Challenge</a>
<ul>
{% for tuple in challenge %}
    <li>{{ tuple[1].category.tag }} </li>
{% endfor %}
</ul>
<p>{{ challenge[0][0].description }}</p>
<div style="width:50%"><img src="/{{ challenge[0][0].image_path }}"></div>

{% endblock %}
