{% extends 'base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}
<div class="row">
  {% if session.get('active') %}
  <a href="/logout">Log Out</a>
  <a href="/profile/id/{{ session.get('user_id') }}">Profile</a>
  {% else %}
  <a href="/login">Log In</a>
  {% endif %}
</div>
<div class="row">
  <h1>Challenges</h1>
</div>

{% for challenge in challenges %}
<div class="row">
  <table>
    <tr>
      <th>
        {{ challenge.title }}
        {% if session['active'] == True %}
        <a data-challenge_id="{{ challenge.id }}" class="accept-btn">Accept</a>
        {% endif %}

        <a href='/challenge/{{ challenge.id }}'>View</a>
      </th>
    </tr>
    <tr>
      <td>{{ challenge.description }}</td>
    </tr>
    <tr>
      <td>Participants: <span class="num-players" data-challenge_id="{{ challenge.id }}"></span></td>
    </tr>
  </table>
</div>
{% endfor %}

<a href="/add_challenge.json" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">+</a>

{% endblock %}