{% extends 'base.html' %}

{% block title %}{{ challenge.title }}{% endblock %}

{% block content %}
{% if session['active'] == False %}
<a href="/login">Log In</a>
{% else %}
<a href="/logout">Log Out</a>
{% endif %}
<h1>{{ challenge.title }}</h1>
  {% if session['active'] %}
    <a data-challenge_id="{{ challenge.id }}" class="accept-btn">Accept</a>
  {% endif %}
<a href='/challenges'>Find a Challenge</a>
<a href='/create'>Create a Challenge</a>

<p>{{ challenge.description }}</p>
<div style="width:50%"><img src="{{ challenge.image_path }}"></div>

{% endblock %}

<!-- Can use challenge difficulty in JS on page -->