{% extends 'base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}
<div class="container-fluid grey-page">
  <div class="row">
    <div class="col-xs-12 col-md-3 top">
      <h1 class="title home text-center"><a href="/challenges">SCAVENGERHUNT</a></h1>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-6 top">
      {% if session.get('active') %}
      <h1 class="text-center text-uppercase" id="profile">{{ username }} <img id="caret" class="rotate" src="/static/images/_caret.png"></h1>
<!--       <div id="logout hidden">
        <p><a href="/profile/{{ username }}">Your Profile</a></p>
        <p><a href='/logout' class="text-center">Log Out</a></p>
      </div> -->
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 top">
      <h1 class="title text-center">Challenges</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-11 col-md-offset-2">
      <div id="create-new-form" class="col-xs-12 col-md-4 main challenge hidden"> <!-- hidden -->
        <form action="/create" name="create" id="create" enctype="multipart/form-data" method="POST">
          <fieldset>
            <!-- <label for="title">Title</label> -->
            <input type="text" name="title" id="title" placeholder="Title" autocomplete="off" required>
          </fieldset><br>
          <fieldset class="textarea">
            <!-- <label for="decsription" class="description">Description</label> -->
            <textarea rows="5" cols="30" name="description" class="description" placeholder="Description" autocomplete="off" required></textarea>
          </fieldset><br>
          <fieldset class="radio-btn">
            <span class="text-center">
              <input type="radio" name="difficulty" id="easy" value="1" checked>
              <label for="easy">Easy</label>
            </span>
            <span class="text-center">
              <input type="radio" name="difficulty" id="medium" value="2">
              <label for="medium">Medium</label>
            </span>
            <span class="text-center">
              <input type="radio" name="difficulty" id="hard" value="3">
              <label for="hard">Hard</label>
            </span>
          </fieldset>
          <fieldset class="file-container text-center">
            <input id="file-input" type="file" name="file" accept="image/*" required>
            <label for="file-input">Upload Image</label>
          </fieldset>
          <input type="submit" value="Submit" name="submit" id="submit">
        </form>
        <div class="ldBar" data-stroke="data:ldbar/res,gradient(0, 6, #67dbe4, #c7ffe2)"></div>
      </div>
      {% for challenge in challenges %}
      <div class="col-xs-12 col-md-4 main challenge">
        <div class="list-accept">
          {% if session['active'] == True %}
          <a data-challenge_id="{{ challenge.id }}" class="accept-btn">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
          {% endif %}
        </div>
        <p class="challenge-title"><a href="/challenge/{{ challenge.id }}">{{ challenge.title }}</a></p>
        <p class="description">{{ challenge.description }}</p>
        <p class="stats">Participants: <span class="num-players" data-challenge_id="{{ challenge.id }}"></span></span></p>
        <div class="text-center default-image">
          <img src="/{{ challenge.image_path }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% if session.get('active') %}
<div id="bottom-button" class="col-xs-1 col-xs-offset-11 text-center">
  <a id="create-new-btn">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</div>
{% endif %}
  <footer>
  <p>
    <span class="left">About &nbsp&nbsp 
      <a href="https://github.com/NatashaMitchko/nerve">GitHub</a> &nbsp&nbsp 
      <a href="https://www.linkedin.com/in/natashamitchko/">Linkedin</a></span>
    <span class="right">Send Feedback &nbsp&nbsp Report a Problem</span> 
  </p>
</footer>
</div>
{% endblock %}
