{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
{% if session['active'] == False %}
<a href="/login">Log In</a>
{% else %}
<a href="/logout">Log Out</a>
{% endif %}

  <form action="/create" name="create" id="create" method="POST">
    <label>Title <input type="text" name="title" id="title" required></label><br>
    <label>Description <textarea rows="10" cols="30" name="description" id="description" required></textarea></label><br>
    <label id="difficulty">Difficulty 
      <select name="difficulty">
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Difficult</option>
      </select>
    </label><br>
      {% for message in get_flashed_messages() %}
      <span> {{ message }}</span>
      {% endfor %}
    <label>Image <input type="file" name="file" accept="image/*"></label><br>
    <input type="submit" value="Submit" name="submit" id="submit">
  </form>

{% endblock %}