{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <span> {{ message }}</span>
{% endfor %}
<a href='/challenges'>Find a Challenge</a>
<a href='/create'>Create a Challenge</a>
{% if session.get('active') %}
<a href="/logout">Log Out</a>
<a href="/profile/id/{{ session.get('user_id')}}">Profile</a>
{% else %}
<a href="/login">Log In</a>


<button id="login">Log In</button>

<div id="login-popup" class="modal">
  <!-- Modal content -->
  <div class="login-content">
    <span class="close">&times;</span>
    <form action="/login" name="login" id="login" method="POST">
      <label>Username <input type="text" name="username" id="username" value="" required></label>
      <label>Password <input type="password" name="password" id="password" required></label>
      <input type="submit" value="Submit" name="submit" id="submit">
    </form>

{% endif %}
{% endblock %}