{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container-fluid color-page">
  <div class="row">
    <h1 class="title home">SCAVENGERHUNT</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 main hidden">
      <h1 class="text-center">Register</h1>
      {% for message in get_flashed_messages() %}
        <div class="text-center"> {{ message }} </div>
      {% endfor %}
      <div class="text-center" id="register-message"></div>
      <form action="/register" name="register" id="register" method="POST">
        <div class="floating-placeholder">
          <input type="text" name="username" id="register-username" required>
          <label for="username">Username</label>
        </div>
        <div class="floating-placeholder">
          <input type="password" name="password" id="password" required>
          <label for="password">Password</label>
        </div>
        <div class="floating-placeholder">
          <input type="tel" name="tel" id="tel" required>
          <label for="tel">Phone</label>
        </div>
        <div class="floating-placeholder">
          <input type="email" name="email" id="email" required>
          <label for="email">Email</label>
        </div>
        <input type="submit" value="Submit" name="submit" id="submit">
      </form>
    </div>
    <div class="col-xs-6 col-xs-offset-3 main">
      <h1 class="text-center">Login</h1>
      {% for message in get_flashed_messages() %}
        <div class="text-center"> {{ message }} </div>
      {% endfor %}
      <div class="text-center" id="login-message"></div>
      <form action="/login" name="login" id="login" method="POST">
        <div class="floating-placeholder">
          <input type="text" name="username" id="login-username" required>
          <label for="username">Username</label>
        </div>
        <div class="floating-placeholder">
          <input type="password" name="password" id="password" required>
          <label for="password">Password</label>
        </div>
        <input type="submit" value="Submit" name="submit" id="submit">
      </form>
    </div>
  </div>
  <div class="col-xs-6 col-xs-offset-3">
    <p class="text-right toggle-form">Don't have an account? <b>Register</b></p>
    <p class="text-right toggle-form hidden">Have an account? <b>Log In</b></p>
  </div>
</div>

{% endblock %}
