{% extends 'base.html' %}

{% block title %}{{ username }}{% endblock %}

{% block content %}
{% if session.get('active') %}
<a href="/logout">Log Out</a>
{% else %}
<a href="/login">Log In</a>
{% endif %}
<h1>{{ username }}</h1>

{% for i in info %}
  {% if i.UserChallenge.is_completed == False %}
  <table>
    <tr>
      <th>{{ i.Challenge.title }}</th>
    </tr>
    <tr>
      <td>Accepted <span class="time" data-timestamp="{{ i.UserChallenge.accepted_timestamp }}"></span></td>
    </tr>
    <tr>
      <td>{{ i.Challenge.description }}</td>
    </tr>
    <tr>
      <td><a href="/complete/{{ i.UserChallenge.challenge_id }}">Complete Challenge</a></td>
    </tr>
  </table>
  {% endif %}
{% endfor %}

<h3>Completed Challenges</h3>
{% for i in info %}
<ul>
  {% if i.UserChallenge.is_completed == True %}
  <li>{{ i.Challenge.title }}</li>
  <li>Accepted: {{ i.UserChallenge.accepted_timestamp }}</li>
  <li> {{ i.Challenge.description }}</li>
  <li>Completed: {{ i.UserChallenge.completed_timestamp }}</li>
  <li>Points: {{ i.UserChallenge.points_earned }}</li>
  {% endif %} 
</ul>
{% endfor %}

<a href="/challenges" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">+</a>
{% endblock %}
