{% extends 'base.html' %}

{% block title %}{{ username }}{% endblock %}
{% block content %}

<div class="container-fluid grey-page">
  <div class="row">
    <div class="col-xs-12 col-md-3 top">
      <h1 class="title home text-center"><a href="/challenges">SCAVENGERHUNT</a></h1>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-6 top">
      {% if session.get('active') %}
      <h1 class="text-center text-uppercase" id="profile">{{ username }} <img id="caret" class="rotate" src="/static/images/_caret.png"></h1>
      <h1><a href='/logout' class="text-center hidden" id="logout">Log Out</a></h1>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 top">
      <h1 class="title text-center">Profile</h1>
    </div>
  </div>
  <div class="row in-progress">
    <div class="col-xs-12 col-xs-offset-1 col-md-10 col-md-offset-2">
      {% for i in info %}
        {% if i.UserChallenge.is_completed == False %}
        <div class="col-xs-10 col-md-5 main challenge">
          <p class="text-right timestamp">accepted <span class="time" data-timestamp="{{ i.UserChallenge.accepted_timestamp }}"></span></p>
          <p class="challenge-title"><a href="/challenge/{{ i.Challenge.id }}">{{ i.Challenge.title }}</a></p>
          <p class="stats">Active participants: <span class="num-players" data-challenge_id="{{ i.UserChallenge.id }}"></span></p>
          <p class="description">{{ i.Challenge.description }}</p>

          <form action="/complete/{{ i.Challenge.id }}" name="create" id="create" enctype="multipart/form-data" method="POST">
          <fieldset class="file-container text-center">
            <input id="file-input{{ i.Challenge.id }}" type="file" name="file" accept="image/*" required>
            <label for="file-input{{ i.Challenge.id }}">Upload Image</label>
          </fieldset>
          <input type="submit" value="Submit" name="submit" class="submit">
        </form>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row complete">
    <div class="col-xs-12 col-xs-offset-1 col-md-10 col-md-offset-2">
      {% for i in info %}
        {% if i.UserChallenge.is_completed == True %}
        <div class="col-xs-10 col-md-5 main challenge">
          <p class="text-right timestamp">completed <span class="time" data-timestamp="{{ i.UserChallenge.accepted_timestamp }}"></span></p>
          <p class="challenge-title"><a href="/challenge/{{ i.Challenge.id }}">{{ i.Challenge.title }}</a></p>
          <p class="description">{{ i.Challenge.description }}</p>
          <div class="text-center default-image">
            <label>Points: <h3>{{ i.UserChallenge.points_earned }}</h3></label>
            <label>Attempts: <h3>{{ i.UserChallenge.attempts }}</h3></label>
            <img src="/{{ i.UserChallenge.image_path }}">
          </div>
          <!-- <ul class="matched-attributes" data-challenge_id="{{ i.Challenge.id }}"></ul> -->
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if session.get('active') %}
  <div id="bottom-button" class="col-xs-1 col-xs-offset-11 text-center">
  <a id="create-new-btn" href="/challenges">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
  </div>
  {% endif %}
</div>
<!-- Here to avoid errors -->
{% endblock %}
