{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <span> {{ message }}<a href='/register'>Register?</a></span>
{% endfor %}
<form action="/login" name="login" id="login" method="POST">
  <label>Username <input type="text" name="username" id="username" value="{{ username }}" required></label>
  <label>Password <input type="password" name="password" id="password" required></label>
  <input type="submit" value="Submit" name="submit" id="submit">
</form>
<span><a href='/register'>Register?</a></span>

{% endblock %}

